<div id="preloader">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<header class="s-header header">

    <div class="header__logo">
        <a class="logo" href="index.html">
            BLOGPY
        </a>

    </div> <!-- end header__logo -->
    <a class="header__toggle-menu" href="#0" title="Menu"><span>منو</span></a>
    <nav class="header__nav-wrap">

        <h2 class="header__nav-heading h6">هدایت به</h2>

        <ul class="header__nav">
            <li><a href="page-contact.html" title="">تماس</a></li>
            <li><a href="page-about.html" title="">درباره</a></li>
            <li>
                <a href="category.html" title="">دسته بندی</a>
            </li>

            <li class="current"><a href="index.html" title="">خانه</a></li>
        </ul> <!-- end header__nav -->

        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">بستن</a>

    </nav> <!-- end header__nav-wrap -->

</header>