<section class="s-featured">
    <div class="row">
        <div class="col-full">
            <div class="featured-slider featured" data-aos="zoom-in">

                {% for promote in promotes %}
                    <div class="featured__slide">
                        <div class="entry">

                            <div class="entry__background"
                                 style="background-image:url('{{ promote.cover.url }}');"></div>
                            <div class="entry__content">
                                <span class="entry__category"><a href="">{{ promote.category.title }}</a></span>

                                <h1><a href="" title="">{{ promote.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="" class="entry__profile-pic">
                                        <img class="avatar" src="{{ promote.author.avatar.url }}" alt="">
                                    </a>
                                    <ul class="entry__meta">
                                        <li><a href="#0">
                                            {{ promote.author.user.first_name }}
                                            {{ promote.author.user.last_name }}

                                        </a></li>
                                        <li>{{ promote.created_at | date }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>