<section class="s-featured">
    <div class="row">
        <div class="col-full">

            <div class="featured-slider featured" data-aos="zoom-in">

                <div class="featured__slide">
                    <div class="entry">

                        <div class="entry__background"
                             style="background-image:url('static/images/thumbs/featured/featured-guitarman.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">موزیک</a></span>

                            <h1><a href="#0" title="">آنچه ترجیح موسیقی تان درباره شما و شخصیت شما می گوید</a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img class="avatar" src="static/images/avatars/user-05.jpeg" alt="">
                                </a>
                                <ul class="entry__meta">
                                    <li><a href="#0">محمد بابازاده</a></li>
                                    <li>June 02, 2018</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__slide -->

                <div class="featured__slide">

                    <div class="entry">

                        <div class="entry__background"
                             style="background-image:url('static/images/thumbs/featured/featured-watch.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">مدیریت</a></span>

                            <h1><a href="#0" title="">تکنیک پومودورو واقعاً کار می کند</a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img class="avatar" src="static/images/avatars/user-03.jpeg" alt="">
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="#0">محمد بابازاده</a></li>
                                    <li>June 13, 2018</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__slide -->

                <div class="featured__slide">

                    <div class="entry">

                        <div class="entry__background"
                             style="background-image:url('static/images/thumbs/featured/featured-beetle.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">سبک زندگی</a></span>

                            <h1><a href="#0" title="">تفاوت بین اتومبیل های کلاسیک ،قدیمی و آنتیک </a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img class="avatar" src="static/images/avatars/user-03.jpeg" alt="">
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="#0">محمد بابازاده</a></li>
                                    <li>June 12, 2018</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__slide -->

            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div>
</section>